.about2 {
    
    background-color: var(--pink_1);
    padding-bottom: 97px;
    width: 100%;
}
.about2_tittle {
    margin-top: 20px;
    visibility: hidden;

}

.about2_list {
    position: relative;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 60px;
    margin-left: 36px;
    margin-right: 76px;}

    @media screen and (min-width: 1280px) {
    margin-left: 115px;
    padding: 0;
    
    
  }
}
.about2_header {
font-family: Titan One;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 55px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: var(--pink_5);
margin-bottom: 20px
}
.about2_icon1:before {
position: absolute;
top: -2%;
width: 33px;
height: 50px;
margin-bottom: 19px;
content: url("../images/about2/icon1.png");
@media screen and (min-width: 768px) {
    top: -10%;
    
} }
.about2_icon2:before{
    position: absolute;
    top: 30%;
width: 33px;
height: 50px;
margin-bottom: 19px;
content: url("../images/about2/icon2.png");
@media screen and (min-width: 768px) {
    top: -10%;
} }

.about2_icon3:before{
    position: absolute;
    top: 63%;
width: 33px;
height: 50px;
margin-bottom: 19px;
content: url("../images/about2/icon3.png");
@media screen and (min-width: 768px) {
    top: -10%;
} }

.about2_text {
font-family: DM Sans;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: var(--black);
margin-bottom: 74px;
}
