.contact {
  &__header {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 0 50px;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 29px;
      width: 700px;
      margin: 0 auto;
    }

    @media (min-width: 1280px) {
      width: 1050px;
      margin: 0 auto;
    }
  }

  &__item {
    width: 220px;
    height: 427px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 20px;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 220px;
      height: 544px;
    }

    @media (min-width: 1280px) {
      width: 330px;
      height: 572px;
    }
  }

  &__ribbon {
    margin-bottom: 25px;
  }

  &__ribbon-bg-cafe {
    width: 80px;
    height: 16px;
    background: #f0d1a5;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 73px;
      height: 28px;
      font-size: 16px;
    }
  }

  &__ribbon-bg-foodtrack {
    width: 130px;
    height: 16px;
    background: #c2e297;
    border-radius: 4px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 768px) {
      width: 138px;
      height: 28px;
      font-size: 16px;
    }
  }

  &__city-name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #000;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__city-description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 60px;
    line-height: 18px;
    color: #907e82;
    margin-bottom: 50px;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 166%;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
      line-height: 183%;
    }
  }

  &__open-item {
    margin-bottom: 10px;
  }

  &__open {
    margin-bottom: 50px;

    @media (min-width: 768px) {
      margin-bottom: 60px;
    }

    @media (min-width: 1280px) {
      margin-bottom: 64px;
    }
  }

  &__open-days {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #000;
    margin-bottom: -2px;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__open-hours {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #ffa5ba;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin: 54px 0;

    @media (min-width: 768px) {
      margin: 81px 0;
      flex-direction: row;
    }
  }

  &__details {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #907e82;

    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 183%;
    }

    @media (min-width: 1280px) {
      font-size: 16px;
    }
  }
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
