@media screen and (min-width: 1280px) {
  .container__header {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 665px;
    background-color: var(--pink_2);
  }
  .header__navigation-desktop {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .d-none {
    display: none;
  }
  .header__logo-img {
    margin-left: 46px;
  }
  .header__logo-img-mobile {
    display: none;
  }

  .header__desktop-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  .header__desktop-item {
    margin-left: 35px;
    z-index: 1;
  }
  .header__desktop-item:first-child {
    margin-left: 110px;
  }
  .header__desktop-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    z-index: 1;
  }
  .header__desktop-link:hover {
    color: #d41443;
    text-decoration: none;
  }
  .header__mobile-btn {
    display: none;
  }
  .header__navigation-icon {
    display: none;
  }
  .header__elipse {
    display: none;
  }
  .header__ellipse-tablet {
    display: none;
  }
  .header__ellipse-desktop {
    position: absolute;
    top: 52px;
    right: 267px;
  }
  .header__ice-cream {
    display: none;
  }
  .header__ice-cream-tablet {
    display: none;
  }
  .header__ice-cream-desktop {
    position: absolute;
    top: 108px;
    right: 450px;
  }
  .header__girls-photo {
    display: none;
  }
  .header__girl-desktop {
    position: absolute;
    right: 109px;
    bottom: 0px;
  }
  .header__group-22 {
    display: none;
  }
  .header__group-22-desktop {
    position: absolute;
    top: 156px;
    right: 97px;
  }
  .header__group-23 {
    display: none;
  }
  .header__group-23-desktop {
    position: absolute;
    top: 248px;
    right: 97px;
  }
  .header__bootle-photo {
    display: none;
  }
  .header__bootle-photo-desktop {
    position: absolute;
    left: 77px;
    bottom: 45px;
  }
  .arrow-right {
    display: none;
  }
  .arrow-right-desktop {
    position: absolute;
    left: 295px;
    bottom: 56px;
  }

  .header__paragraph {
    width: 200px;
    height: 78px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: white;
    position: absolute;
    left: 295px;
    bottom: 102px;
  }
  .header__button-products {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 333px;
    left: 115px;
    color: white;
    background-color: #d41443;
    border-radius: 20px;
    width: 102px;
    height: 40px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    border: none;
    cursor: pointer;
  }

  .header__button-products:hover {
    background-color: #c7133e;
  }
  .header__button-how-its-made {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 333px;
    left: 234px;
    color: #d41443;
    background-color: white;
    border-radius: 20px;
    width: 138px;
    height: 40px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    border: none;
    z-index: 2;
    cursor: pointer;
  }
  .header__button-how-its-made:hover {
    background-color: #ecebeb;
  }
  .header__head {
    position: absolute;
    top: 171px;
    left: 115px;
    width: 277px;
    height: 137px;
    line-height: 1.15;
    text-transform: uppercase;
    font-family: Titan One;
    z-index: 3;

    margin-bottom: 0px;
  }

  .header__head-first {
    color: white;
    font-weight: 400;
    font-size: 38px;
  }
  .header__head-second {
    color: #d41443;
    font-weight: 400;
    font-size: 58px;
  }
  .header__btn-buy {
    width: 159px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    z-index: 3;
  }
  .header__btn-buy:hover {
    background-color: #ecebeb;
  }

  .header__btn-buy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-top: 3px;
  }
  .header__btn-buy-tablet {
    display: none;
  }
}

// @media screen and (min-width: 769px) and (max-width: 1280px) {
//   .container__header {
//     position: relative;
//     margin: 0 auto;
//     max-width: 100%;
//     height: 665px;
//     background-color: var(--pink_2);
//   }
//   .d-none {
//     display: none;
//   }
//   .header__logo-img {
//     margin-top: -37px;
//     margin-left: 46px;
//   }
//   .header__navigation-desktop {
//     padding-top: 50px;
//   }
//   .header__desktop-list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     list-style-type: none;
//   }
//   .header__desktop-item {
//     margin-left: 35px;
//     z-index: 1;
//   }
//   .header__desktop-link {
//     text-decoration: none;
//     color: white;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.31;
//     z-index: 1;
//   }
//   .header__desktop-link:hover {
//     color: #d41443;
//   }
//   .header__mobile-btn {
//     display: none;
//   }
//   .header__navigation-icon {
//     display: none;
//   }
//   .header__elipse {
//     display: none;
//   }
//   .header__ellipse-tablet {
//     display: none;
//   }
//   .header__ellipse-desktop {
//     position: absolute;
//     top: 5.2%;
//     right: 267px;
//   }
//   .header__ice-cream {
//     display: none;
//   }
//   .header__ice-cream-tablet {
//     display: none;
//   }
//   .header__ice-cream-desktop {
//     position: absolute;
//     top: 108px;
//     right: 450px;
//   }
//   .header__girls-photo {
//     display: none;
//   }
//   .header__girl-desktop {
//     position: absolute;
//     right: 109px;
//     bottom: 0px;
//   }
//   .header__group-22 {
//     display: none;
//   }
//   .header__group-22-desktop {
//     position: absolute;
//     top: 156px;
//     right: 97px;
//   }
//   .header__group-23 {
//     display: none;
//   }
//   .header__group-23-desktop {
//     position: absolute;
//     top: 248px;
//     right: 97px;
//   }
//   .header__bootle-photo {
//     display: none;
//   }
//   .header__bootle-photo-desktop {
//     position: absolute;
//     left: 77px;
//     bottom: 45px;
//   }
//   .arrow-right {
//     display: none;
//   }
//   .arrow-right-desktop {
//     position: absolute;
//     left: 295px;
//     bottom: 56px;
//   }

//   .header__paragraph {
//     width: 200px;
//     height: 78px;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.4;
//     color: white;
//     position: absolute;
//     left: 295px;
//     bottom: 102px;
//   }
//   .header__button-products {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     top: 333px;
//     left: 115px;
//     color: white;
//     background-color: #d41443;
//     border-radius: 20px;
//     width: 102px;
//     height: 40px;
//     font-family: DM sans;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.28;
//     border: none;
//     cursor: pointer;
//   }

//   .header__button-products:hover {
//     background-color: #c7133e;
//   }
//   .header__button-how-its-made {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     top: 333px;
//     left: 234px;
//     color: #d41443;
//     background-color: white;
//     border-radius: 20px;
//     width: 138px;
//     height: 40px;
//     font-family: DM sans;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.28;
//     border: none;
//     z-index: 2;
//     cursor: pointer;
//   }
//   .header__button-how-its-made:hover {
//     background-color: #ecebeb;
//   }
//   .header__head {
//     position: absolute;
//     top: 171px;
//     left: 115px;
//     width: 277px;
//     height: 137px;
//     line-height: 1.15;
//     text-transform: uppercase;
//     font-family: Titan One;
//     z-index: 3;

//     margin-bottom: 0px;
//   }

//   .header__head-first {
//     color: white;
//     font-weight: 400;
//     font-size: 38px;
//   }
//   .header__head-second {
//     color: #d41443;
//     font-weight: 400;
//     font-size: 58px;
//   }
//   .header__btn-buy {
//     position: absolute;
//     top: 38px;
//     right: 115px;
//     width: 159px;
//     height: 44px;
//     background-color: white;
//     color: #d41443;
//     font-family: DM sans;
//     border: none;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.31;
//     border-radius: 22px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin: auto;
//     cursor: pointer;
//   }
//   .header__btn-buy:hover {
//     background-color: #ecebeb;
//   }

//   .header__btn-buy-icon {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-left: 12px;
//     margin-top: 3px;
//   }
// }
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__navigation-desktop {
    display: none;
  }

  .container__header {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 399px;

    background-color: var(--pink_2);
  }
  .d-none {
    display: none;
  }

  .header__logo-img-mobile {
    margin-top: 37px;
    margin-left: 34px;
  }
  .header__mobile-btn {
    position: absolute;
    top: 54px;
    right: 224px;
    width: 25px;
    height: 25px;
    opacity: 1;
    border: 0;
    background-color: Var(--pink_2);
    cursor: pointer;
  }
  .header__navigation-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 3;
  }
  .header__elipse {
    display: none;
  }
  .header__ellipse-tablet {
    position: absolute;
    top: 31px;
    right: 137px;
  }
  .header__ellipse-desktop {
    display: none;
  }
  .header__ice-cream {
    display: none;
  }
  .header__ice-cream-tablet {
    position: absolute;
    top: 63px;
    right: 247px;
  }
  .header__ice-cream-desktop {
    display: none;
  }
  .header__girls-photo {
    position: absolute;
    right: 34px;
    bottom: 0px;
  }
  .header__girl-desktop {
    display: none;
  }
  .header__group-22 {
    position: absolute;
    top: 94px;
    right: 34px;
  }
  .header__group-22-desktop {
    display: none;
  }
  .header__group-23 {
    position: absolute;
    top: 151px;
    right: 34px;
  }
  .header__group-23-desktop {
    display: none;
  }
  .header__bootle-photo {
    position: absolute;
    left: 34px;
    bottom: 28px;
  }
  .header__bootle-photo-desktop {
    display: none;
  }
  .arrow-right {
    position: absolute;
    left: 154px;
    bottom: 34px;
  }
  .arrow-right-desktop {
    display: none;
  }

  .header__paragraph {
    width: 114px;
    height: 48px;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;

    color: #ffffff;
    position: absolute;
    left: 154px;
    bottom: 59px;
  }
  .header__btn-buy-tablet {
    position: absolute;
    top: 38px;
    right: 34px;
    width: 160px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    z-index: 3;
  }
  .header__btn-buy:hover {
    background-color: #ecebeb;
  }

  .header__btn-buy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-top: 3px;
  }
  .header__button-products {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 202px;
    left: 34px;
    color: white;
    background-color: #d41443;
    border-radius: 20px;
    width: 61px;
    height: 24px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: none;
    cursor: pointer;
  }

  .header__button-products:hover {
    background-color: #c7133e;
  }
  .header__button-how-its-made {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 202px;
    left: 104.4px;
    color: #d41443;
    background-color: white;
    border-radius: 20px;
    width: 82.8px;
    height: 24px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: none;
    z-index: 2;
    cursor: pointer;
  }
  .header__button-how-its-made:hover {
    background-color: #ecebeb;
  }
  .header__head {
    width: 162px;
    height: 60px;
    line-height: 1.13;
    text-transform: uppercase;
    font-family: Titan One;
    z-index: 3;
    margin-top: 15px;
    margin-left: 34px;
    margin-bottom: 0px;
  }

  .header__head-first {
    color: white;
    font-weight: 400;
    font-size: 22px;
  }
  .header__head-second {
    color: #d41443;
    font-weight: 400;
    font-size: 36px;
  }
  .header__btn-buy {
    position: absolute;
    top: 38px;
    right: 34px;
    width: 160px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    z-index: 4;
  }
  .header__btn-buy:hover {
    background-color: #ecebeb;
  }

  .header__btn-buy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-top: 3px;
  }

  .header__btn-buy-tablet {
    position: absolute;
    top: 38px;
    right: 34px;
    width: 160px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
  }
  .header__btn-buy:hover {
    background-color: #ecebeb;
  }

  .header__btn-buy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-top: 3px;
  }
  .header__menu-mobile {
    width: 250px;
    padding-top: 60px;
    padding-bottom: 100%;
    background-color: var(--pink_4);
    z-index: 5;
    position: fixed;
    top: 0;
    // left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .header__mobile-list {
    margin-top: 16px;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
  }
  .header__list-item {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #e18298;
    padding-left: 21px;
  }
  .header__list-item:last-child {
    border-bottom: 1px solid #e18298;
  }

  .header__link {
    text-decoration: none;
    color: white;

    text-align: center;
  }

  .header__link:hover {
    color: #d41443;
  }
  .header__exit-btn {
    position: absolute;
    top: 23px;
    left: 208px;
    background-color: #e17992;
    border: none;
    cursor: pointer;
  }
  .header__mobile-menu-btn {
    margin-top: 60px;
    width: 186px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
  }
  .header__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14px;
    margin-top: 3px;
  }
}
// @media screen and(min-width: 320px) and (max-width: 480px) {
@media screen and (max-width: 767px) {
  .container__header {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 502px;
    background-color: var(--pink_2);
  }

  .header__logo-img {
    margin-top: 6px;
    margin-left: 20px;
  }
  .header__mobile-btn {
    position: absolute;
    top: 25px;
    right: 37px;
    width: 25px;
    height: 25px;
    opacity: 1;
    border: 0;
    background-color: var(--pink_2);
    cursor: pointer;
  }

  .header__menu-mobile {
    width: 250px;
    padding-top: 60px;
    padding-bottom: 171px;
    background-color: var(--pink_4);
    z-index: 5;
    position: fixed;
    top: 0;
    // left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

  .header__mobile-list {
    margin-top: 16px;
    list-style-type: none;
    width: 100%;
    padding-left: 0;
  }
  .header__list-item {
    height: 40px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid #e18298;
    padding-left: 21px;
  }
  .header__list-item:last-child {
    border-bottom: 1px solid #e18298;
  }

  .header__link {
    text-decoration: none;
    color: white;

    text-align: center;
  }

  .header__link:hover {
    color: #d41443;
  }

  .header__navigation-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 1;
    z-index: 5;
    cursor: pointer;
  }
  .header__mobile-menu-btn {
    margin-top: 60px;
    width: 209px;
    height: 44px;
    background-color: white;
    color: #d41443;
    font-family: DM sans;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    cursor: pointer;
  }

  .header__mobile-menu-btn:hover {
    background-color: #ecebeb;
  }

  .header__menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15.77px;
    margin-top: 3px;
  }
  .header__exit-btn {
    position: absolute;
    top: 23px;
    left: 208px;
    background-color: #e17992;
    border: none;
    cursor: pointer;
  }

  .header__head {
    width: 218px;
    height: 106px;
    text-transform: uppercase;
    font-family: Titan One;
    z-index: 3;
    position: absolute;
    top: 137px;
    left: 20px;
  }

  .header__head-first {
    color: white;
    font-weight: 400;
    font-size: 26px;
  }
  .header__head-second {
    color: #d41443;
    font-weight: 400;
    font-size: 48px;
  }

  .header__elipse {
    position: absolute;
    top: 83px;
    right: 0px;
    z-index: 0;
  }
  .header__ice-cream {
    position: absolute;
    top: 92px;
    right: 32px;
    z-index: 2;
  }
  .header__ice-cream-tablet {
    display: none;
  }
  .header__ice-cream-desktop {
    display: none;
  }

  .header__button-products {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 318px;
    left: 20px;
    color: white;
    background-color: #d41443;
    border-radius: 20px;
    width: 62.4px;
    height: 24px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: none;
    cursor: pointer;
  }

  .header__button-products:hover {
    background-color: #c7133e;
  }

  .header__button-how-its-made {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 318px;
    left: 90.4px;
    color: #d41443;
    background-color: white;
    border-radius: 20px;
    width: 82.8px;
    height: 24px;
    font-family: DM sans;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: none;
    z-index: 2;
    cursor: pointer;
  }
  .header__button-how-its-made:hover {
    background-color: #ecebeb;
  }

  .header__girls-photo {
    display: none;
  }
  .header__girl-desktop {
    display: none;
  }
  .header__group-22 {
    display: none;
  }
  .header__group-22-desktop {
    display: none;
  }
  .header__group-23 {
    display: none;
  }
  .header__group-23-desktop {
    display: none;
  }
  .header__bootle-photo {
    display: none;
  }
  .header__bootle-photo-desktop {
    display: none;
  }
  .header__ellipse-tablet {
    display: none;
  }
  .arrow-right {
    display: none;
  }
  .arrow-right-desktop {
    display: none;
  }

  .header__navigation-desktop {
    display: none;
  }
  .header__ellipse-desktop {
    display: none;
  }
  .header__paragraph {
    display: none;
  }
  .header__btn-buy {
    display: none;
  }

  .d-none {
    display: none;
  }
  .header__btn-buy-tablet {
    display: none;
  }
  .header__logo-img-mobile {
    margin-top: 6px;
    margin-left: 20px;
  }
}
