// MICRO RESET
.h-i-m {
  margin: 0 auto;
}

.h-i-m__title,
.h-i-m__title-bottom {
  padding: 0;
  margin: 0;
}

// MAIN STYLES

.h-i-m {
  background-color: #fff5f6;
  width: 100%;
  height: 100%;
  position: relative;
}

.h-i-m__milk-picture-desktop {
  display: none;
  width: 0;
  height: 0;
}

.h-i-m__title {
  color: #ffa5ba;
  font-weight: 400;
  font-size: 18px;
  line-height: 20.61px;
  text-align: center;
  padding-top: 125px;
  font-family: 'Titan One';
}

.h-i-m__title-bottom {
  font-weight: 400;
  font-size: 34px;
  line-height: 38.93px;
  letter-spacing: 0.04rem;
  text-align: center;
  padding-top: 15px;
  color: #d41443;
  font-family: 'Titan One';
}

.d-tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.h-i-m__cow-picture {
  width: 280px;
  height: 279px;
}

.h-i-m__paragraph {
  position: relative;
  min-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 19.44px;
  color: #000000;
  padding-left: 16vw;
  padding-right: 16vw;
  z-index: 5;
  font-family: 'DM Sans', sans-serif;
}

.h-i-m__paragraph--second {
  padding-top: 47px;
  color: #907e82;
  z-index: 5;
  font-family: 'DM Sans', sans-serif;
}

.h-i-m__milk-picture {
  display: block;
  width: 100%;
  max-width: 100vw;
  height: 133px;
  position: absolute;
  top: 650px;
}
.h-i-m__milk-desktop {
  display: none;
}
.h-i-m__button {
  width: 176px;
  height: 44px;
  background-color: #ffffff;
  color: #d41443;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  margin-left: 16vw;
  margin-top: 17px;
  margin-bottom: 20px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
  transition-property: all;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  gap: 14px;
}

//  DO POPRAWKI STRZALKA W BUTTONIE ! ! ! ! !

.h-i-m__button-svg {
  width: 8px;
  height: 10px;
  fill: #d41443;
  color: #d41443;
  background-color: #ffa5ba;
}

.h-i-m__button:hover {
  background-color: #ecebeb;
}

//  TABLET ! ! ! ! ! ! ! !

@media screen and (min-width: 768px) {
  .h-i-m__milk-picture-desktop {
    display: none;
  }
  .d-none {
    display: none;
  }
  .d-tablet {
    display: flex;
    gap: 4.5%;
    flex-wrap: nowrap;
  }
  .h-i-m__paragraph {
    padding: 0;
    min-width: 340px;
  }

  .h-i-m__paragraph--second {
    padding-top: 50px;
  }
  .d-tablet__mid {
    padding-top: 100px;
    padding-right: 5vw;
  }
  .h-i-m__button {
    margin: 0;
    padding: 0;
    margin-top: 62px;
    margin-bottom: 33px;
  }
  .h-i-m__cow-picture {
    width: 340px;
    height: 339px;
    padding: 0;
    padding-top: 50px;
    padding-left: 5vw;
  }
  .h-i-m__paragraph {
    font-size: 14px;
    line-height: 25px;
    text-align: left;
  }

  .h-i-m__title {
    font-size: 26px;
  }

  .h-i-m__title-bottom {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.04rem;
  }
}
// DESKTOP ! ! ! ! !! !

@media screen and (min-width: 1280px) {
  .d-tablet {
    gap: 74px;
    position: relative;
    z-index: 100;
  }
  .d-tablet__mid {
    padding-top: 50px;
  }

  .h-i-m__paragraph {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 0.04rem;
    min-width: 463px;
  }

  .h-i-m__paragraph--second {
    padding-top: 35px;
  }
  .h-i-m__title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.04rem;
  }

  .h-i-m__title-bottom {
    font-size: 58px;
    line-height: 67px;
    letter-spacing: 0.06rem;
  }
  .h-i-m__milk-picture-desktop {
    display: block;
    width: 100%;
    max-width: 100vw;
    position: absolute;
    top: 280px;
    left: 0;
    height: 534px;
  }

  .h-i-m__cow-picture {
    width: 516px;
    height: 516px;
    margin-left: 112px;
    padding: 0px;
  }

  .h-i-m__button {
    margin-top: 45px;
    margin-bottom: 73px;
  }
}
