/* ------------ RESET ---------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ----------------------------------- */

/* ------------ CONTEINERS ----------- */

.products__section {
  margin: 0 20px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 98px;
  font-family: 'Titan One', cursive;
  color: white;
}

.products__container {
  position: relative;
  padding-top: 161px;
  width: 280px;
  height: 485px;
  background-color: var(--pink_2);
  border-radius: 24px;
  align-items: flex-end;
  text-align: center;
  margin-bottom: 130px;
  &:nth-child(1)::before {
    content: url(../images/products/products-ice-1.png);
    position: absolute;
    top: -113px;
    left: 16px;
  }
  &:nth-child(2)::before {
    content: url(../images/products/products-ice-2.png);
    position: absolute;
    top: -113px;
    left: 16px;
  }
  &:nth-child(3)::before {
    content: url(../images/products/products-ice-3.png);
    position: absolute;
    top: -113px;
    left: 16px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// -------------------------------------------------------------//

// @media (min-device-pixel-ratio: 2),
//   (min-resolution: 192dpi),
//   (min-resolution: 2dppx) {
//   .products__container:nth-child(1)::before {
//     content: url(../images/products/products-ice-1@2x.png);
//     width: 249px;
//     height: 252px;
//   }
// }

@media screen and (min-width: 768px) {
  .products__section {
    margin-top: 122px;
    margin-bottom: 112px;
  }

  .products__container {
    padding-top: 152px;
    width: 220px;
    margin: 0;
    &:nth-child(1)::before {
      content: url(../images/products/products-ice-1-tablet.png);
      left: 0;
      top: -100px;
    }
    &:nth-child(2)::before {
      content: url(../images/products/products-ice-2-tablet.png);
      left: 0;
      top: -107px;
    }
    &:nth-child(3)::before {
      content: url(../images/products/products-ice-3-tablet.png);
      left: 0;
      top: -102px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .products__wrapper {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .products__section {
    margin-top: 127px;
    margin-bottom: 120px;
  }

  .products__container {
    padding-top: 163px;
    width: 330px;
    height: 525px;
    &:nth-child(1)::before {
      content: url(../images/products/products-ice-1-desctop.png);
      left: -3px;
      top: -210px;
    }
    &:nth-child(2)::before {
      content: url(../images/products/products-ice-2-desctop.png);
      left: -3px;
      top: -210px;
    }
    &:nth-child(3)::before {
      content: url(../images/products/products-ice-3-desctop.png);
      left: -3px;
      top: -210px;
    }
  }

  .products__wrapper {
    gap: 30px;
  }
}

/* ------------------------------------ */

/* ---------- MODDIFIRE --------------- */

.yellow {
  background-color: var(--coffee);
}

.green {
  background-color: var(--pistachio);
}

/* ------------------------------------ */

/* ------------- TEXT ----------------- */
.products__span {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--pink_3);
}

.products__header {
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--pink_5);
  margin-top: 15px;
  margin-bottom: 144px;
}

.products__content-header {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 400;
  position: relative;
  margin-bottom: 66px;
  &::after {
    content: url(/assets/dots.svg);
    position: absolute;
    bottom: -40px;
    right: 126px;
  }
}

.products__description {
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
  width: 200px;
  margin: 0 auto;
  line-height: 152%;
}

.products__description--mobile {
  display: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.04em;
  width: 200px;
  margin: 0 auto;
  line-height: 176%;
}

@media screen and (min-width: 768px) {
  .products__content-header::after {
    right: 96px;
  }
  .products__span {
    font-size: 26px;
  }

  .products__header {
    font-size: 48px;
    margin-bottom: 150px;
  }
  .products__description {
    display: none;
  }
  .products__description--mobile {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .products__span {
    font-size: 30px;
  }

  .products__header {
    font-size: 58px;
    margin-bottom: 260px;
  }
  .products__content-header {
    font-size: 30px;
    margin-bottom: 70px;
    &::after {
      bottom: -41px;
      right: 151px;
    }
  }

  .products__description {
    display: none;
  }
  .products__description--mobile {
    display: block;
    width: 240px;
    font-size: 16px;
  }
}

/* ------------------------------------- */

/* --------------- SVG/IMG ------------- */

.products__arrow {
  cursor: pointer;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .products__arrow {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .products__arrow {
    margin-top: 60px;
  }
}

/* ------------------------------------- */
