:root{
    --pink_1: #FFF5F6; //background how it's made,
    --pink_2: #FFB8CA; //header background, ice cream,
    --pink_3: #FFA5BA; //header ice background circle, title
    --pink_4: #E17992; //mobile menu background
    --pink_5: #D41443; //header title, button, how it's made, 
    --coffee: #F0D1A5; //ice coffee
    --pistachio: #C2E297; //milkshakes,
    --background: #E5E5E5; //pages background
    --white: #ffffff;
    --black: #000000;
    --grey_1:  #907E82; //footer, 
    --grey_2: #FAFAFA; 
}