@import "./variables";

@import './header';
@import './products';
@import './howitsmade';
@import "./about2";
@import "./gallery";
@import './customerReviews';
@import './contact';
@import './footer';
