<section id="about" class="about2">
  <h2 class="about2_tittle">ice cream made with passion</h2>
  <ul class="about2_list">
    <li>
      <div class="about2_icon1">
        <h3 class="about2_header">721</h3>
        <p class="about2_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
    <li>
      <div class="about2_icon2">
        <h3 class="about2_header">16kg</h3>
        <p class="about2_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
    <li>
      <div class="about2_icon3">
        <h3 class="about2_header">84</h3>
        <p class="about2_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </div>
    </li>
  </ul>
</section>
