<section class="contact">
  <h2 class="contact__header">Contact</h2>
  <div class="contact__wrapper">
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-cafe">cafe</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.comm</a>
      </div>
    </div>
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-foodtrack">foodtrack</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.comm</a>
      </div>
    </div>
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-cafe">cafe</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.comm</a>
      </div>
    </div>
  </div>
  <div class="contact__buttons">
    <button type="button" class="xxxxx">Our Locations</button>
    <button type="button" class="xxxxx">Franchise</button>
  </div>
</section>
