<section class="contact">
  <h2 class="contact__header">Contact</h2>
  <div class="contact__wrapper">
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-cafe">cafe</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.comm</a>
      </div>
    </div>
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-foodtrack">foodtrack</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.comm</a>
      </div>
    </div>
    <div class="contact__item">
      <div class="contact__ribbon">
        <div class="contact__ribbon-bg-cafe">cafe</div>
      </div>
      <div class="contact__city">
        <div class="contact__city-name">Chicago</div>
        <div class="contact__city-description">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__open">
        <div class="contact__open-item">
          <div class="contact__open-days">Monday - Friday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
        <div class="contact__open-item">
          <div class="contact__open-days">Saturday - Sunday</div>
          <div class="contact__open-hours">08:00 AM - 16:00 PM</div>
        </div>
      </div>
      <div class="contact__line"></div>
      <div class="contact__details">
        <a href="tel:+61(44) 383 766 284">+61(0) 383 766 284</a> <br />
        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
      </div>
    </div>
  </div>
  <div class="contact__buttons">
    <button class="contact__buttons-pink">
      Our Locations
      <svg class="contact__buttons-ico-white" width="8" height="10">
        <use href="./images/arrow-final.svg#arrow-button"></use>
      </svg>
    </button>
    <button class="contact__buttons-white">
      Franchise
      <svg class="contact__buttons-ico-pink" width="8" height="10">
        <use href="./images/arrow-final.svg#arrow-button"></use>
      </svg>
    </button>
  </div>

  <img class="contact__bg" alt="background" src="./images/bg_contact.png" />
</section>
