<footer class="footer">
    <div>homemade ice cream made</div>
    <div>with passion</div>
    <ul>
        <li>
            <a href="https://github.com/">
                <svg width="32px" height="32px">
                    <use href="/assets/icons.svg#icon-github"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://telegram.org/">
                <svg width="32px" height="32px">
                    <use href="/assets/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <svg width="32px" height="32px">
                    <use href="/assets/icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
   <div>Feel free to contact<a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></div>
   <div>© 2019 - IceCream. All Rights Reserved.</div>
</footer>