<section class="footer">
  <div class="footer__column">
    <div class="footer__title">
      <span class="footer__title-one">homemade ice cream made</span>
      <span class="footer__title-two">with passion</span>
    </div>
    <div class="footer__links">
      <ul class="footer__list">
        <li>
          <a class="footer__link" href="https://github.com/" target="_blank">
            <svg class="footer__icon" width="18.82px" height="18.82px">
              <use href="/assets/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="footer__link" href="https://telegram.org/" target="_blank">
            <svg class="footer__icon" width="19.2px" height="14.93px">
              <use href="/assets/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a class="footer__link" href="https://www.facebook.com/" target="_blank">
            <svg class="footer__icon" width="8.8px" height="19.2px">
              <use href="/assets/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <span class="footer__contact"
        >Feel free to contact
        <a class="footer__phone" href="tel:+61 (0) 383 766 284"
          >+61 (0) 383 766 284</a
        ></span
      >
    </div>
    </div>
    <div class="footer__rights">
      <span class="footer__span">© 2019 - IceCream. All Rights Reserved.</span>
    </div>
</section>
