<footer class="footer">
    <div class="footer__title-one">homemade ice cream made</div>
    <div class="footer__title-two">with passion</div>
    <ul>
        <li>
            <a href="https://github.com/">
                <svg width="32px" height="32px">
                    <use href="/src/images/github-all.svg"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://telegram.org/">
                <svg width="32px" height="32px">
                    <use href="/src/images/telegram-all.svg"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/">
                <svg width="32px" height="32px">
                    <use href="/src/images/facebook-all.svg"></use>
                </svg>
            </a>
        </li>
    </ul>
   <div class="footer__contact">Feel free to contact<a class="footer__phone" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></div>
   <div class="footer__rights">© 2019 - IceCream. All Rights Reserved.</div>
</footer>