<section class="gallery">
    <h2 class="gallery_header">gallery</h2>
    <div>
    <img
    src="./images/gallery/gallery-mobilex2.png" 
    
    alt="ice cream made with passion"
    class="gallery_img"
    srcset="
    ./images/gallery/gallery-mobilex1.png 450w
    ./images/gallery/gallery-mobilex2.png 900w
    ./images/gallery/gallery-tabletx1.png 354w
    ./images/gallery/gallery-tabletx2.png 708w
    ./images/gallery/gallery-desktopx1.png 270w
    ./images/gallery/gallery-desktopx2.png 540w
    "
    sizes="(min-width: 1200px) 270px, (min-width: 768px) 354px, (min-width: 480px) 450px"
   />
</div>
</section>