<section>
  <header class="header">
    <div class="container">
      <nav>
        <div class="header__navigation">
          <div class="header__navigation-hamburger">
            <button type="submit" class="header__mobile-btn"></button>
            <svg class="header__navigation-icon" width="20" height="20">
              <use href="/assets/icons.svg#icon-burger"></use>
            </svg>

            <div class="header__mobile-menu d-none">
              <button type="submit" class="header__mobile-menu-btn">
                Buy now
                <svg class="header__menu-icon" width="8" height="8">
                  <use href="/assets/icons.svg#icon-arrow-red"></use>
                </svg>
              </button>

              <ul class="header__mobile-list">
                <li class="header__list-item">
                  <a class="header__link" href="#">Home</a>
                </li>
                <li class="header__list-item">
                  <a class="header__link" href="#">About us</a>
                </li>
                <li class="header__list-item">
                  <a class="header__link" href="#">How it's made?</a>
                </li>
                <li class="header__list-item">
                  <a class="header__link" href="#">Our products</a>
                </li>
                <li class="header__list-item">
                  <a class="header__link" href="#">Contact</a>
                </li>
              </ul>

              <button type="submit" class="header__exit-btn">
                <svg width="13.5" height="14" class="header__exit">
                  <use
                    class="page-header__exit-icon"
                    href="/assets/icons.svg#icon-close"
                  ></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <div class="header__logo">
        <img
          class="header__logo-img"
          src="/assets/Logo-and-brand.png"
          alt="logo i nazwa firmy"
          width="199"
          height="50"
        />
      </div>
      <div class="header__content">
        <h1 class="header__head">
          <p class="header__head-first">
            ice cream made with
            <span class="header__head-second">passion</span>
          </p>
        </h1>
      </div>
      <div clas="header__images">
        <img
          class="header__elipse"
          src="/assets/Ellipse-head-mobile.png"
          alt="ozobne zdjęcie tła"
          width="284"
          height="344"
        />
        <img
          class="header__ellipse-tablet"
          src="/assets/ellipse-head-tablet.png"
          alt="ozdobne zdjęcie tła"
          width="324"
          height="322"
        />
        <img
          class="header__ice-cream"
          src="/assets/Great-Ice.png"
          alt="zdjęcie apetycznego loda z szescioma kulkami w rożku"
          width="171"
          height="410"
        />
        <img
          class="header__girls-photo"
          src="/assets/Girl-with-ice.png"
          alt="dziewczyna jedząca loda"
          width="168"
          height="133"
        />

        <img
          class="header__group-22"
          src="/assets/group-22.png"
          alt="ilość kawiarni z naszymi lodami"
          width="43"
          height="44"
        />

        <img
          class="header__group-23"
          src="/assets/group-23.png"
          alt="ilość food tracków z naszymi lodami"
          width="51"
          height="43"
        />
        <img
          class="header__bootle-photo"
          src="/assets/bootle-of-milk.png"
          alt="butelka z mlekiem"
          width="124"
          height="126"
        />
        <div class="header__buttons">
          <a href="#"
            ><button class="header__button-products" type="submit">
              Products
            </button></a
          >
          <a href="#">
            <button class="header__button-how-its-made" type="submit">
              How it's made?
            </button></a
          >
        </div>
      </div>
    </div>
  </header>
</section>
