<!-- HOW ITS MADE  -->
<section>
  <div class="h-i-m">
    <h2 id="how" class="h-i-m__title">TRADITION AND LOVE</h2>
    <h2 class="h-i-m__title-bottom">
      HOW IT'S<br class="d-none" />
      MADE?
    </h2>
    <div class="d-tablet">
      <img
        class="h-i-m__cow-picture"
        alt="krówka"
        src="./images/products/howitsmade/krowa-desktop.png"
        srcset="
          ./images/products/howitsmade/krowa-desktop-1x.png 1x,
          ./images/products/howitsmade/krowa-desktop-2x.png 2x,
          ./images/products/howitsmade/krowa-desktop-3x.png 3x
        "
      />

      <!-- DO ZROBIENIA SCRSET NA RETINE ^^^^^^^^ -->

      <div class="d-tablet__mid">
        <p class="h-i-m__paragraph">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>

        <img
          class="h-i-m__milk-picture d-none"
          alt="mleczko"
          src="./images/products/howitsmade/mleko.png"
          srcset="
            ./images/products/howitsmade/mleko-1x.png 1x,
            ./images/products/howitsmade/mleko-2x.png 2x,
            ./images/products/howitsmade/mleko-3x.png 3x
          "
        />

        <p class="h-i-m__paragraph h-i-m__paragraph--second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.<br />
          <br />

          Aliquam erat volutpat. Aenean accumsan.
        </p>

        <button class="h-i-m__button">
          Read more
          <svg class="h-i-m__button-svg" width="8" height="10">
            <use href="./images/icons.svg#icon-arrow-red"></use>
          </svg>
        </button>
      </div>
    </div>
    <img
      class="h-i-m__milk-picture-desktop"
      alt="mleczko"
      src="./images/products/howitsmade/mleko-desktop.png"
      srcset="
        ./images/products/howitsmade/mleko-desktop-1x.png 1x,
        ./images/products/howitsmade/mleko-desktop-2x.png 2x,
        ./images/products/howitsmade/mleko-desktop-3x.png 3x
      "
    />
  </div>
</section>
