<!-- ------------------------- ICE CREAM PINK ------------------------ -->

<section class="products">
  <span class="products__span">100% natural</span>
  <h2 class="products__header">products</h2>
  <div class="products__wrapper">
    <div class="products__container pink">
      <h3 class="products__content-header">ice cream</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <img
        class="products__arrow"
        src="./images/products/arrow.png"
        srcset="./images/products/arrow@2x.png 2x"
        alt="strzałka w prawo"
        width="40"
        height="40"
      />
    </div>

    <!-------------------------- ICE COFFEE YELLOW ---------------------->

    <div class="products__container yellow">
      <h3 class="products__content-header">ice coffee</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <img
        class="products__arrow"
        src="./images/products/arrow.png"
        srcset="./images/products/arrow@2x.png 2x"
        alt="strzałka w prawo"
        width="40"
        height="40"
      />
    </div>

    <!----------------------------- MILKSHAKES GREEN -------------------->

    <div class="products__container green">
      <h3 class="products__content-header">milkshakes</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <img
        class="products__arrow"
        src="./images/products/arrow.png"
        srcset="./images/products/arrow@2x.png 2x"
        alt="strzałka w prawo"
        width="40"
        height="40"
      />
    </div>
  </div>
</section>
