<!-- ------------------------- ICE CREAM PINK ------------------------ -->

<section class="products__section container">
  <span class="products__span">100% natural</span>
  <h2 class="products__header">products</h2>
  <div class="products__wrapper">
    <div class="products__container">
      <h3 class="products__content-header">ice cream</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <svg class="products__svg--arrgow" width="40" height="40">
        <use href="./svg/arrow.svg#arrow"></use>
      </svg>
    </div>

    <!-------------------------- ICE COFFEE YELLOW ---------------------->

    <div class="products__container yellow">
      <h3 class="products__content-header">ice coffee</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <svg class="products__svg--arrgow" width="40" height="40">
        <use href="./svg/arrow.svg#arrow"></use>
      </svg>
    </div>

    <!----------------------------- MILKSHAKES GREEN -------------------->

    <div class="products__container green">
      <h3 class="products__content-header">milkshakes</h3>

      <p class="products__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et. dolore magna aliqua facilisis.
      </p>
      <p class="products__description--mobile">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et.
      </p>
      <svg class="products__svg--arrgow" width="40" height="40">
        <use href="./svg/arrow.svg#arrow"></use>
      </svg>
    </div>
  </div>
</section>
